
<%- include("navbar.ejs", {active_username})%>
<div class="container">
    <div class="card mb-3"> 
        <div class="row g-0">
          <div class="col-md-4">
            <% if (tvData[0].poster_path != 'null') {var image_link = "https://image.tmdb.org/t/p/original" + tvData[0].poster_path} %>
            <img class="img-fluid" src=<%= image_link %> alt="No image available">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title"><%= tvData[0].name%></h1>
            <% var year = (new Date(tvData[0].first_air_date)).getFullYear(); %>
              <p class="card-text"><%= year %></p>
              <p class="card-text"><%= tvData[0].tagline %></p>
              <p class="card-text">Overview: <%= tvData[0].overview %></p>
              <% var d = new Date(tvData[0].first_air_date) %>
              <% var date = `${d.getMonth()+1}/${d.getDate()}/${d.getFullYear()}` %>
              <p class="card-text">Release Date: <%= date %></p>
              <p class="card-text">Aired Seasons: <%= tvData[0].number_of_seasons%></p>
              <p class="card-text">Aired Episodes: <%= tvData[0].number_of_episodes%></p>
              <p class="card-text">Language: <%= tvData[0].original_language %></p>
              <p class="card-text">

            </div>
          </div>
        </div>
      </div>
<h1>Season: <%= tvData[1].season_number %> Episodes</h1>
<div class="accordion" id="accordionEpisodes">

<% for (let i = 1; i < tvData.length; i++) { %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= i %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
          Episode #<%= i %>
        </button>
      </h2>
      <div id="collapse<%= i %>" class="accordion-collapse collapse" aria-labelledby="heading<%= i %>" data-bs-parent="#accordionEpisodes">
        <div class="accordion-body">
           
            <div class="card mb-3"> 
                <div class="row g-0">
                  <div class="col-md-4">
                    <% var image_link = "https://image.tmdb.org/t/p/original" + tvData[i].still_path %>
                    <img class="img-fluid" src=<%= image_link %> alt="No image available">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h1 class="card-title"><%= tvData[i].name %></h1>
                      

                      <p class="card-text"> Overview: </p>
                      <p class="card-text"> <%= tvData[i].overview %></p>
                      <% var d = new Date(tvData[i].air_date) %>
                      <% var date = `${d.getMonth()+1}/${d.getDate()}/${d.getFullYear()}` %>
                      <p class="card-text">Air Date: <%= date %></p>

                      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                        <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#listModal<%= tvData[i].id %>"> 
                        Add To List 
                        </button>    
        
                        <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#historyModal<%= tvData[i].id %>"> 
                        Watched 
                        </button>    
        
                        <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#rateModal<%= tvData[i].id %>"> 
                        Rate 
                        </button> 
        
            <!-- List Modal -->
            <div class="modal fade" id="listModal<%= tvData[i].id %>" tabindex="-1" role="dialog" aria-labelledby="listModalLabel<%= tvData[i].id %>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="listModalLabel<%= tvData[i].id %>">Add To List</h5>                                          
                  </div>
                  <div class="modal-body">
                      <form action="/lists/addMediaToList" method="post" >
                        <div class="form-group">
                          <label for="addMediaToList">Select list to add media:</label>
                          <select class="form-control" name = "list_id" id="addMediaToList" >
                        <% for (j = 0; j < allLists.length; j++) {%>
                            <option value = "<%= allLists[j].list_id %>"><%= allLists[j].list_name %></option>
                            <% } %>

                          </select>
                          <input type="hidden" name="media_type" value="E" class="visually-hidden">

                          <input type="hidden" name="season_no" value="<%= tvData[i].season_number %>" class="visually-hidden">
                          <input type="hidden" name="episode_no" value="<%= tvData[i].episode_number %>" class="visually-hidden">
                          <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                          <input type="hidden" name="tmdb_id" value="<%= tvData[0].id %>" class="visually-hidden">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                      </form>  

                  </div>
                  </div>
                  </div>
                  </div>
              </div>




              

                    </div>

   <!-- History Modal -->
   <div class="modal fade" id="historyModal<%= tvData[i].id %>" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel<%= tvData[i].id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="historyModalLabel<%= tvData[i].id %>">Add to watched?</h5>                                          
        </div>
        <div class="modal-body">
        Would you like to track this item as watched?
            <form action="/history/addMediaToHistory" method="post" >
                <input type="hidden" name="media_type" value="E" class="visually-hidden">
                <input type="hidden" name="season_no" value="<%= tvData[i].season_number %>" class="visually-hidden">
                <input type="hidden" name="episode_no" value="<%= tvData[i].episode_number %>" class="visually-hidden">
                <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                <input type="hidden" name="tmdb_id" value="<%= tvData[0].id %>" class="visually-hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
            </form>  
        </div>
        </div>
        </div>
    </div>
  </div>
   <!-- Rate Modal -->
   <div class="modal fade" id="rateModal<%= tvData[i].id %>" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel<%= tvData[i].id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="rateModalLabel<%= tvData[i].id %>">Rate</h5>                                          
        </div>
        <div class="modal-body">
            <form action="/ratings/addMediaRating" method="post" >
              <div class="form-group">
                <label for="addMediaRating">Select Rating:</label>
                <select class="form-control" name = "score" id="addMediaRating" >
              <% for (j = 0; j <= 10; j++) {%>
                  <option value = "<%= j %>"><%= j %></option>
              <% } %>
                </select>
                <input type="hidden" name="media_type" value="E" class="visually-hidden">
                <input type="hidden" name="season_no" value="<%= tvData[i].season_number %>" class="visually-hidden">
                <input type="hidden" name="episode_no" value="<%= tvData[i].episode_number %>" class="visually-hidden">
                <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                <input type="hidden" name="tmdb_id" value="<%= tvData[0].id %>" class="visually-hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
            </form>  
        </div>
        </div>
        </div>
    </div>



</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<% } %>
</div>
</div>
<%- include("footer.ejs")%>