<%- include("navbar.ejs", {active_username})%>
<div class="container">
<div class="card mb-3"> 
    <div class="row g-0">
      <div class="col-md-4">
        <% if (movieData.poster_path != 'null') {var image_link = "https://image.tmdb.org/t/p/original" + movieData.poster_path} %>
        <img class="img-fluid" src=<%= image_link %> alt="No image available">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"><%= movieData.title %></h1>
        <% var year = (new Date(movieData.release_date)).getFullYear(); %>
          <p class="card-text"><%= year %></p>
          <p class="card-text"><%= movieData.tagline %></p>
          <p class="card-text">Overview: <%= movieData.overview %></p>
          <% var d = new Date(movieData.release_date) %>
          <% var date = `${d.getMonth()+1}/${d.getDate()}/${d.getFullYear()}` %>
          <p class="card-text">Release Date: <%= date %></p>
          <p class="card-text">Runtime: <%= movieData.runtime %> minutes</p>
          <p class="card-text">Language: <%= movieData.original_language %></p>
          <p class="card-text">



              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#listModal<%= movieData.id %>"> 
                Add To List 
                </button>    

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#historyModal<%= movieData.id %>"> 
                Watched 
                </button>    

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#rateModal<%= movieData.id %>"> 
                Rate 
                </button> 

    <!-- List Modal -->
    <div class="modal fade" id="listModal<%= movieData.id %>" tabindex="-1" role="dialog" aria-labelledby="listModalLabel<%= movieData.id %>" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="listModalLabel<%= movieData.id %>">Add To List</h5>                                          
          </div>
          <div class="modal-body">
              <form action="/lists/addMediaToList" method="post" >
                <div class="form-group">
                  <label for="addMediaToList">Select list to add media:</label>
                  <select class="form-control" name = "list_id" id="addMediaToList" >
                <% for (j = 0; j < allLists.length; j++) {%>
                    <option value = "<%= allLists[j].list_id %>"><%= allLists[j].list_name %></option>
                <% } %>
                  </select>
                  <% if (movieData.media_type == 'movie') { %>
                  <input type="hidden" name="media_type" value="M" class="visually-hidden">
                  <% } else { %>
                  <input type="hidden" name="media_type" value="T" class="visually-hidden">
                  <% } %>
                  <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                  <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                  <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                  <input type="hidden" name="tmdb_id" value="<%= movieData.id %>" class="visually-hidden">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Yes</button>
              </form>  
          </div>
          </div>
          </div>
          </div>
      </div>
    </div>


    <!-- History Modal -->
  <div class="modal fade" id="historyModal<%= movieData.id %>" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel<%= movieData.id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="historyModalLabel<%= movieData.id %>">Add to watched?</h5>                                          
        </div>
        <div class="modal-body">
        Would you like to track this item as watched?
            <form action="/history/addMediaToHistory" method="post" >
                <input type="hidden" name="media_type" value="M" class="visually-hidden">
                <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                <input type="hidden" name="tmdb_id" value="<%= movieData.id %>" class="visually-hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
            </form>  
        </div>
        </div>
        </div>
    </div>
  </div>


        <!-- Rate Modal -->
  <div class="modal fade" id="rateModal<%= movieData.id %>" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel<%= movieData.id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="rateModalLabel<%= movieData.id %>">Rate</h5>                                          
        </div>
        <div class="modal-body">
            <form action="/ratings/addMediaRating" method="post" >
              <div class="form-group">
                <label for="addMediaRating">Select Rating:</label>
                <select class="form-control" name = "score" id="addMediaRating" >
              <% for (j = 0; j <= 10; j++) {%>
                  <option value = "<%= j %>"><%= j %></option>
              <% } %>
                </select>
                <input type="hidden" name="media_type" value="M" class="visually-hidden">
                <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                <input type="hidden" name="tmdb_id" value="<%= movieData.id %>" class="visually-hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
            </form>  
        </div>
        </div>
        </div>
    </div>
  </div>
  </div>


        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer.ejs")%>