<%- include("navbar.ejs", {active_username})%>

<div class="container">
    <div class="row">
    <% for (data of searchData) { %>
    <% if (data.id == '680304') {break} %>
    <% if (data.poster_path != 'null') {var image_link = "https://image.tmdb.org/t/p/original" + data.poster_path} %>
    <% var target_link = data.media_type + "/" + data.id %>
    <div class="col-md-4">
    <div class="card">
    <a href = <%= target_link%> >
        <img src= <%= image_link %> class="card-img-top" alt="No image available">
    </a>
      <div class="card-body">
        <p class="card-text text-center"><small class="btn btn-danger" style="pointer-events: none"><%= data.media_type %></small></p>
    <%      if (data.media_type == 'tv') { %>
        <h5 class="card-title"><%= data.name %></h5>
        <% var year = (new Date(data.first_air_date)).getFullYear(); %>
    <% }       else { %>
        <h5 class="card-title"><%= data.title %></h5>
        <% var year = (new Date(data.release_date)).getFullYear(); %>
    <% }  %>
        <p class="card-text"><%= year %></p>
        <p class="card-text">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#listModal<%= data.id %>"> 
                Add To List 
                </button>    

    <!-- List Modal -->
    <div class="modal fade" id="listModal<%= data.id %>" tabindex="-1" role="dialog" aria-labelledby="listModalLabel<%= data.id %>" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="listModalLabel<%= data.id %>">Add To List</h5>                                          
          </div>
          <div class="modal-body">
              <form action="/lists/addMediaToList" method="post" >
                <div class="form-group">
                  <label for="addMediaToList">Select list to add media:</label>
                  <select class="form-control" name = "list_id" id="addMediaToList" >
                <% for (j = 0; j < allLists.length; j++) {%>
                    <option value = "<%= allLists[j].list_id %>"><%= allLists[j].list_name %></option>
                <% } %>
                  </select>
                  <input type="hidden" name="media_type" value="M" class="visually-hidden">
                  <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                  <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                  <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                  <input type="hidden" name="tmdb_id" value="<%= data.id %>" class="visually-hidden">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Yes</button>
              </form>  
          </div>
          </div>
          </div>
      </div>
      </div> 
</div>









                
                <button type="button" class="btn btn-secondary">2</button>
              
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Rating 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>
              </div>
      </div>
      </div>
    </div>
    <% } %>
    </div>
    </div>




<%- include("footer.ejs")%>