<%- include("navbar.ejs")%>

<div class="container">
    <div class="row">
    <% for (data of searchData) { %>
    <% if (data.id == '680304') {break} %>
    <% if (data.poster_path != 'null') {var image_link = "https://image.tmdb.org/t/p/original" + data.poster_path} %>
    <% var target_link = data.media_type + "/" + data.id %>
    <div class="col-md-4">
    <div class="card">
    <a href = <%= target_link%> >
        <img src= <%= image_link %> class="card-img-top" alt="No image available">
    </a>
      <div class="card-body">
        <p class="card-text text-center"><small class="btn btn-danger" style="pointer-events: none"><%= data.media_type %></small></p>
    <%      if (data.media_type == 'tv') { %>
        <h5 class="card-title"><%= data.name %></h5>
        <% var year = (new Date(data.first_air_date)).getFullYear(); %>
    <% }       else { %>
        <h5 class="card-title"><%= data.title %></h5>
        <% var year = (new Date(data.release_date)).getFullYear(); %>
    <% }  %>
        <p class="card-text"><%= year %></p>
        <p class="card-text">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
              
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Rating 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>
              </div>
      </div>
      </div>
    </div>
    <% } %>
    </div>
    </div>
<%- include("footer.ejs")%>