<%- include("navbar.ejs", {active_username})%>
<div class="container">
<div class="card mb-3"> 
    <div class="row g-0">
      <div class="col-md-4">
        <% if (tvData.poster_path != 'null') {var image_link = "https://image.tmdb.org/t/p/original" + tvData.poster_path} %>
        <img class="img-fluid" src=<%= image_link %> alt="No image available">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"><%= tvData.name%></h1>
        <% var year = (new Date(tvData.first_air_date)).getFullYear(); %>
          <p class="card-text"><%= year %></p>
          <p class="card-text"><%= tvData.tagline %></p>
          <p class="card-text">Overview: <%= tvData.overview %></p>
          <% var d = new Date(tvData.first_air_date) %>
          <% var date = `${d.getMonth()+1}/${d.getDate()}/${d.getFullYear()}` %>
          <p class="card-text">Release Date: <%= date %></p>
          <p class="card-text">Aired Seasons: <%= tvData.number_of_seasons%></p>
          <p class="card-text">Aired Episodes: <%= tvData.number_of_episodes%></p>
          <p class="card-text">Language: <%= tvData.original_language %></p>
          <p class="card-text">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#listModal<%= tvData.id %>"> 
                Add To List 
                </button>    

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#historyModal<%= tvData.id %>"> 
                Watched 
                </button>    

                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#rateModal<%= tvData.id %>"> 
                Rate 
                </button> 

    <!-- List Modal -->
    <div class="modal fade" id="listModal<%= tvData.id %>" tabindex="-1" role="dialog" aria-labelledby="listModalLabel<%= tvData.id %>" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="listModalLabel<%= tvData.id %>">Add To List</h5>                                          
          </div>
          <div class="modal-body">
              <form action="/lists/addMediaToList" method="post" >
                <div class="form-group">
                  <label for="addMediaToList">Select list to add media:</label>
                  <select class="form-control" name = "list_id" id="addMediaToList" >
                <% for (j = 0; j < allLists.length; j++) {%>
                    <option value = "<%= allLists[j].list_id %>"><%= allLists[j].list_name %></option>
                <% } %>
                  </select>
                  <% if (tvData.media_type == 'movie') { %>
                  <input type="hidden" name="media_type" value="M" class="visually-hidden">
                  <% } else { %>
                  <input type="hidden" name="media_type" value="T" class="visually-hidden">
                  <% } %>
                  <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                  <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                  <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                  <input type="hidden" name="tmdb_id" value="<%= tvData.id %>" class="visually-hidden">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Yes</button>
              </form>  
          </div>
          </div>
          </div>
          </div>
      </div>
    </div>


    <!-- History Modal -->
  <div class="modal fade" id="historyModal<%= tvData.id %>" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel<%= tvData.id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="historyModalLabel<%= tvData.id %>">Add to watched?</h5>                                          
        </div>
        <div class="modal-body">
        Would you like to track this item as watched?
            <form action="/history/addMediaToHistory" method="post" >
                <input type="hidden" name="media_type" value="T" class="visually-hidden">
                <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                <input type="hidden" name="tmdb_id" value="<%= tvData.id %>" class="visually-hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
            </form>  
        </div>
        </div>
        </div>
    </div>
  </div>


        <!-- Rate Modal -->
  <div class="modal fade" id="rateModal<%= tvData.id %>" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel<%= tvData.id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="rateModalLabel<%= tvData.id %>">Rate</h5>                                          
        </div>
        <div class="modal-body">
            <form action="/ratings/addMediaRating" method="post" >
              <div class="form-group">
                <label for="addMediaRating">Select Rating:</label>
                <select class="form-control" name = "score" id="addMediaRating" >
              <% for (j = 0; j <= 10; j++) {%>
                  <option value = "<%= j %>"><%= j %></option>
              <% } %>
                </select>
                <input type="hidden" name="media_type" value="T" class="visually-hidden">
                <input type="hidden" name="season_no" value="-1" class="visually-hidden">
                <input type="hidden" name="episode_no" value="-1" class="visually-hidden">
                <input type="hidden" name="userName" value="<%= active_username %>" class="visually-hidden">
                <input type="hidden" name="tmdb_id" value="<%= tvData.id %>" class="visually-hidden">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Yes</button>
            </form>  
        </div>
        </div>
        </div>
    </div>
  </div>
  </div>


        </div>
      </div>
    </div>
  </div>
<h3 class="text-center">Seasons</h3>

      <div class="accordion" id="accordionEpisodes">

      <% for (let i = 1; i <= tvData.number_of_seasons; i++) { %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= i %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
              Season #<%= i %>
            </button>
          </h2>
          <div id="collapse<%= i %>" class="accordion-collapse collapse" aria-labelledby="heading<%= i %>" data-bs-parent="#accordionEpisodes">
            <div class="accordion-body">
                <p>Number of Episodes: <%= tvData.seasons[i].episode_count %>
                <p>Overview 
                <p><%= tvData.seasons[i].overview %>
                

                <% var sd = new Date(tvData.seasons[i].air_date) %>
                <% var seasonDate = `${sd.getMonth()+1}/${sd.getDate()}/${sd.getFullYear()}` %>
                <p>First Air Date: <%= seasonDate %>
                
                <p><a href="/tv/<%= tvData.id %>/<%= i %>/<%= tvData.seasons[i].episode_count %>/episodeDetail">Episode Guide</a>
            
            </div>
          </div>
        </div>
      <% } %>
      </div>


</div>

<%- include("footer.ejs")%>